.formGroup {
  margin-bottom: 1rem;
}

.formLabel {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
  text-align: left;
  padding-left: 3.8rem;
}

.formGroup input {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.formGroup input:focus {
  outline: none;
  border-color: #f4511e;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center; /* Align to the top */
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.acceptButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f4511e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.acceptButton:hover {
  background-color: #e53611;
}

.message {
  font-size: 1rem;
  margin-bottom: 20px;
  text-wrap: balance;
}

.errorMessage {
  color: #e53935;
  margin-bottom: 15px;
  padding: 8px;
  background-color: rgba(229, 57, 53, 0.1);
  border-radius: 4px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .formLabel {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.3rem;
  }

  .message {
    font-size: 0.9rem;
  }

  .acceptButton {
    padding: 8px 16px;
  }

  .errorMessage {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 430px) {
  .formLabel {
    font-size: 0.7rem;
    padding-left: 1.8rem;
  }

  .title {
    font-size: 1.1rem;
  }

  .message {
    font-size: 0.8rem;
  }

  .modalContent {
    padding: 16px 10px;
    width: 90%;
  }

  .acceptButton {
    padding: 6px 12px;
    font-size: 0.9rem;
  }

  .errorMessage {
    font-size: 0.8rem;
  }
}
