.stepContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stepTitle {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  margin: 0 0 0.5rem 0;
}

.stepLegendTitle {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
}

.stepDescription {
  font-size: 1rem;
  font-weight: 300;
  margin: 0.2rem 0 1.4rem 0;
  text-align: center;
}

.error {
  color: #ff4d4f;
  font-size: 0.875rem;
  font-weight: 500;
  margin: 0.5rem 0 1rem 0;
  text-align: center;
  display: block;
}

.error::before {
  content: '⚠ ';
  margin-right: 0.25rem;
}

.stepFormContainer {
  width: 100%;
  margin: 2rem 0 0 0;
}

.stepFormContainer fieldset {
  border: none;
  margin: 0 0 1.2rem 0;
  text-align: center;
}

.stepAgeRange {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 0;
  gap: 6rem;
}

.stepAgeRange div {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.stepAgeRange input[type='radio'] {
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
}

.stepAgeRange label {
  font-size: 0.9rem;
  font-weight: 300;
  text-align: center;
}

.stepFormInputs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.stepFormInputs div {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
}

.stepFormInputs div input,
.stepFormInputs div select {
  padding: 1rem 0 1rem 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  font-size: 0.9rem;
}

.disabled {
  background-color: #f0f0f0;
  color: #a0a0a0;
  cursor: not-allowed;
}

select:disabled {
  background-color: #f0f0f0;
  color: #a0a0a0;
}

.stepFormInputs div select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23000000'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E")
    no-repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 1.5em auto, 100%;
}

.stepFormInputs div select::-ms-expand {
  display: none;
}

.stepFormInputs div label {
  font-size: 0.8rem;
  font-weight: 300;
}

.stepUsersContainer {
  background-color: #f6f6f6;
  max-width: 75rem;
  min-width: 30rem;
  margin-bottom: 2rem;
  width: 100%;
}

.stepUserRegister {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.stepUserRegister div {
  display: flex;
  align-items: center;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
}

.iconButton svg {
  width: 1.5rem;
  height: 1.5rem;
  color: #343330; /* Adjust the color as needed */
}

.iconAddPerson svg {
  width: 1.5rem;
  height: 1.5rem;
  color: #343330;
}

.userName {
  font-size: 1rem;
  font-weight: 300;
  margin-left: 0.5rem;
}

.registerButton {
  background-color: #fefefe;
  color: #f4511e;
  border: 1px solid #e53611;
  padding: 0.5rem 5rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
}

.registerButton:hover {
  background-color: #f4511e;
  color: #fefefe;
}

.nextStepButton {
  background-color: #f4511e;
  color: #fefefe;
  border: none;
  padding: 0.5rem 5rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  margin: 2rem 0 4rem 0;
}

@media screen and (max-width: 1130px) {
  .stepCards {
    flex-direction: column;
    justify-content: center;
  }

  .stepFormInputs {
    grid-template-columns: repeat(2, 1fr);
  }

  .stepCards {
    row-gap: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .stepFormInputs {
    grid-template-columns: repeat(2, 1fr);
  }

  .stepCard h3 {
    font-size: 1.2rem;
  }
  .stepCard p {
    font-size: 0.9rem;
  }

  .stepCard button {
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  .stepCard {
    max-width: 250px;
    min-width: 200px;
  }

  .figureImage {
    width: 150px;
    height: 180px;
  }

  .stepFormInputs div input,
  .stepFormInputs div select {
    padding: 0.8rem 0 0.8rem 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    font-size: 0.8rem;
  }

  .stepFormInputs div label {
    font-size: 0.7rem;
  }

  .stepLegendTitle {
    font-size: 1.4rem;
  }

  .stepDescription {
    font-size: 0.9rem;
  }

  .stepTitle {
    font-size: 1.4rem;
  }

  .stepUserRegister {
    padding: 0.5rem;
  }

  .registerButton {
    padding: 0.4rem 4rem;
    font-size: 0.9rem;
  }

  .nextStepButton {
    padding: 0.4rem 4rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  .stepFormInputs {
    grid-template-columns: repeat(1, 1fr);
  }

  .stepFormInputs div {
    padding: 0.5rem 0;
  }

  .stepCard h3 {
    font-size: 1rem;
  }

  .stepFormContainer fieldset {
    padding: 0;
  }

  .stepCard p {
    font-size: 0.8rem;
  }

  .stepCard button {
    font-size: 0.8rem;
    padding: 0.4rem;
  }

  .figureImage {
    width: 130px;
    height: 160px;
  }

  .stepFormInputs div input,
  .stepFormInputs div select {
    padding: 0.7rem 0 0.7rem 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    font-size: 0.7rem;
  }

  .stepFormInputs div label {
    font-size: 0.6rem;
  }

  .stepLegendTitle {
    font-size: 1.2rem;
  }

  .stepDescription {
    font-size: 0.8rem;
  }

  .stepTitle {
    font-size: 1.2rem;
  }

  .stepUserRegister {
    padding: 0.4rem;
  }

  .stepAgeRange {
    flex-direction: column;
    gap: 1rem;
  }

  .stepUsersContainer {
    padding: 0;
    max-width: 100%;
    min-width: 100%;
  }

  .iconButton svg {
    width: 1.2rem;
    height: 1.2rem;
  }

  .iconAddPerson svg {
    width: 1.2rem;
    height: 1.2rem;
  }

  .userName {
    font-size: 0.8rem;
  }
}
