.stepContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stepCards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 15px 0;
  width: 100%;
}

/* StepTwo.module.css */

.errorMessage {
  color: red;
  font-size: 1.1rem;
}

.successMessage {
  color: rgb(16, 171, 16);
  font-size: 1.1rem;
}

.textResult {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1rem 0;
  text-align: center;
}

.validateButton {
  margin: 2rem 0;
  padding: 0.8rem 1rem;
  border: 1px solid #e53611;
  border-radius: 4px;
  background-color: #fefefe;
  color: #f4511e;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .stepCards {
    flex-direction: column;
    gap: 2rem;
  }

  .stepCard {
    width: 270px;
  }

  .stepCard h3 {
    font-size: 1.2rem;
  }

  .stepCard button {
    font-size: 0.9rem;
  }

  .figureImage {
    width: 100px;
    height: 200px;
  }

  .validateButton {
    margin: 1rem 0;
    padding: 0.6rem 0.8rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 426px) {
  .stepCard {
    width: 80%;
  }

  .stepCard h3 {
    font-size: 1rem;
  }

  .stepCard button {
    font-size: 0.8rem;
  }

  .figureImage {
    width: 80px;
    height: 150px;
  }

  .validateButton {
    margin: 0.5rem 0;
    padding: 0.4rem 0.6rem;
    font-size: 0.8rem;
  }
}
